.GPIOPin {
  width: 200px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  height: 40px;
  cursor: pointer;
  user-select: none;
  background-color: rgba(255, 0, 0, 0.05); }
  .GPIOPin[data-side=right] {
    flex-direction: row-reverse; }
    .GPIOPin[data-side=right] .GPIOPin__label {
      flex-direction: row-reverse; }
  .GPIOPin:first-child .GPIOPin__label {
    border-top: 1px solid lightgray; }
  .GPIOPin:nth-child(2) .GPIOPin__label {
    border-top: 1px solid lightgray; }
  .GPIOPin[data-connected=false] {
    background-color: none; }
  .GPIOPin[data-connected=true][data-selected=false][data-active=true] {
    background-color: lightgreen; }
  .GPIOPin[data-ground=true] {
    background-color: none; }
  .GPIOPin[data-selected=true] {
    background-color: lightgray; }

.GPIOPin__label {
  width: 160px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  border-bottom: 1px solid lightgray; }
  .GPIOPin__label h3 {
    margin: 0;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px; }
  .GPIOPin__label p {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 14px; }

.GPIOPin__labelNumber {
  width: 32px; }
  .GPIOPin__labelNumber p {
    margin: 0;
    font-size: 24px; }

.GPIOPin__labelData {
  width: max-content;
  flex-grow: 1; }

.GPIOPin__boardPiece {
  width: 40px;
  background-color: gray;
  height: 100%; }

.GPIOPin__pin {
  width: 100%;
  height: 100%;
  opacity: 0.6; }
  .GPIOPin__pin > div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: calc(50% - 11px); }
  .GPIOPin__pin[data-selected=true] {
    opacity: 1; }

.GPIOPin__pinInner div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  position: relative;
  left: 4px;
  top: 4px; }
